body {
  background-color: #ededed;
}

.error-message {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 10px;
}

.h-100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}
@media (max-width: 767px) {
  .hide-movil {
    display: none;
  }
}
